# Base de datos
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=tienda_db_proyecto3
MYSQL_USER=proy3
MYSQL_PASSWORD=secret

# Backend
BACKEND_PORT=3001
NODE_ENV=production
JWT_SECRET=
ALLOWED_ORIGINS=http://localhost:5174

# Frontend
FRONTEND_PORT=5174
VITE_API_URL=http://localhost:3001