# Base de datos
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=tienda_db
MYSQL_USER=proy2
MYSQL_PASSWORD=secret

# Backend
BACKEND_PORT=3001
NODE_ENV=production
JWT_SECRET=

# Frontend
FRONTEND_PORT=5174
VITE_API_URL=http://localhost:3001